.container {
    padding: 0.2em;
}

.grid {
    width: 50%;
}

.list {
    width: 100%;
}

.video {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    cursor: pointer;
}

.thumbnail {
    width: 40%;
    height: 100%;
}

.metadata {
    margin-left: 0.2em;
}

.title,
.channel {
    margin: 0;
    font-size: 0.8rem;
}

.channel {
    font-size: 0.6rem;
}
