.header {
    display: flex;
    height: 4rem;
    padding: 0.8em 1em;
    background: black;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.logo .img {
    margin-right: 0.2rem;
}

.input {
    flex-basis: 100%;
    font-size: 1.2rem;
    border: none;
}

.button {
    background-color: darkgrey;
    border: none;
    cursor: pointer;
}

.buttonImg {
    height: 100%;
    padding: 0.5em 0.2em;
}
