.container {
    /* display: flex;
    flex-direction: column; */
    height: 100%;
    overflow-y: scroll;
}

.containerFlex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrap {
    justify-content: flex-start;
}

.nowrap {
    justify-content: flex-end;
    overflow-y: hidden;
}

.searchHeader {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
}

.selected {
    display: flex;
    height: 65%;
}

.videoDetail {
    height: 100%;
    width: 65%;
}

.videoComment {
    height: 100%;
    width: 35%;
    padding: 0.5rem;
}

.videoList {
    height: 100%;
}

/*  */
.iframeArea {
    width: 100%;
    max-width: 80rem;
    height: 100%;
}

.iframeWrapper {
    position: relative;
    padding-bottom: 48.5%;
    height: 0;
}
