.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrap {
    justify-content: flex-start;
}

.nowrap {
    justify-content: flex-end;
}

.videoDetail {
    height: 100%;
}
